fakecars.txt
install.txt
mainDB.txt
package-lock.json

backups/*.sql
database/serverconfigured.sql
client_packages/game_resources/dlcpacks/*
!client_packages/game_resources/dlcpacks/dlcpacks.txt
.listcache

server_exceptions.txt
server_logs.txt
coords.txt
settings/mainDB.json
client_packages/interface/build/bundle.js.map
client_packages/interface/build/bundle.js
client_packages/interface/build/bundle.css.map
client_packages/interface/build/bundle.css
client_packages/interface/index.html
client_packages/main.js

dlcpacks/*
client_packages/DISABLE_ENCRYPTION_LIST
