.bsearch{
    font-family: 'UniNeue';
    background-image: url('./../images/bsearch.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    color: white;
    height: 550px;
    width: 380px;
    top: 50%;
    transform: translateY(-50%);
}
.bsearch .list{
    width: 348px;
    height: 300px;
    padding: 10px;
    margin-top: 56px;
    overflow: hidden;
    overflow-y: scroll;
}
.bsearch .btns{
    padding: 10px;
}
.bsearch p{
    margin-left: 20px;
}
.bsearch .btn{
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    font-size: 18pt;
    padding: 10px;
    margin: 10px;
    width: 50%;
}
.bsearch ul {
    margin-left: 40px;
}
.bsearch .btn:hover{
    background-color: rgba(0,0,0,0.7);
}
.bsearch .btn-close{
    background-position: center;
    background-repeat: no-repeat;
    background-color: red;
    background-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    float: right;
    height: 31px;
    width: 31px;
    padding: 7px;
}