.plist {
    font-family: 'UniNeue';
    background: linear-gradient(to top, rgba(231, 72, 85, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    height: 97%;
    margin-left: -300px;
    border-radius: 15px;
    position: absolute;
    width: 600px;
    left: 50%;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;  
}

.plist .head {
    margin: 10px
}

.plist img {
    float: left;
    width: 50px;
}

.plist h1 {
    float: left;
    margin: 12px;
    color: white;
    font-size: 18pt
}

.plist span {
    float: right;
    color: white;
    font-size: 18pt;
    margin: 12px;
}

.plist .list {
    color: white;
    width: 100%;
    margin: 40px 0;
    overflow: hidden;
    overflow-y: scroll;
    height: 87%;
}

.plist table {
    width: 100%;
    text-align: center;
}

.plist .selectedSort::after {
    content: url("../../../../assets/images/arrow.svg");
    padding: 0px 7px 0px 7px;
    width: 10px;
    position: absolute;
    display:inline-block;
}

.plist .reversedSort::after {
    transform: rotate(-180deg);
    padding-bottom: 2px;
}